<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NLP App | Register Page</title>
</head>
<body>
    <h1 style = 'color:green'>NLP App</h1>
    <h3>Register Here</h3>

    <form action = "perform_registration" method = "post">
        <label>Name:</label><br>
        <input type = "text" name = "user_ka_name"><br><br>
        <label>Email:</label><br>
        <input type = "text" name = "user_ka_email"><br><br>
        <label>Password</label><br>
        <input type = "password" name = "user_ka_password"><br><br><br>
        <input type = "submit" value = "Register">
    </form>

    <p>Already a member? <a href="/">Login Here</a></p>
</body>
</html>